body{
background-color: white;
margin: 0;
padding: 0;
}
/* 
************************************************************************************************************ */

.header{
width: 100%;
height: 53px;
background-color: #eeeeee;
color: white;
overflow: hidden;
margin-top: 0;
margin-bottom: 58px;
margin:0 auto;
/* position: fixed; */

}

div.grid      { width: 100%; }
div.grid div  { float: left; height: 53px; }
.div1   { 
/* width: 36.31%;  */
width: 33.33%;
height: 9px;
font-family: 'Source Sans Pro', sans-serif;
/* font-size: 1vw; */
font-size: 12px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1px;
text-align: center;
color: #999999;

padding-top: 23px;
padding-bottom: 21px;

}

.lnr {
color: #999999;
font-size: 6px;
width: 7px;
height: 5px;
text-align: center;
}


.div2   { 
  /* width: 27.31%; */
  width: 33.33%;
  height: 9px;
  font-size: 6px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: center;
  color: #999999;
  padding-top: 15px;
  
  } 

.div4   { 
/* width: 36.31%;  */
width: 33.33%;
height: 9px;
font-family: 'Source Sans Pro', sans-serif;
/* font-size: 1vw; */
font-size: 12px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1px;
text-align: center;
color: #999999;

padding-top: 23px;
padding-bottom: 21px;

}


div.clear     { clear: both; }

/************************************************************************************************************ */

/* NAVBAR */
.header1{
background-color: #ffffff;
height: 93px;
width: 100%;
}

.topnav {
overflow: hidden;
/* background-attachment: fixed; */
margin:0 auto;
padding-top: 36px;

}

.topnav a {
text-align: center;
text-decoration: none;
display: inline;
font-family: 'Dosis', sans-serif;
padding-left: 2.10%;

}

/* .topnav a:hover {
color: blue;
transition-delay: 0.5s;

} */

.topnav a.active {
width: 40px;
height: 12px;
font-family: 'Dosis', sans-serif;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
margin-left: 15%;
margin-top: 35px;
}

.topnav a.active1{
width: 2.10%;
height: 12px;
font-family: Dosis;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
} 

.topnav a.active2{
width: 2.10%;
height: 12px;
font-family: Dosis;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;

}

.topnav a.active3{
width: 6.10%;
height: 22px;
font-family: Dosis;
font-size: 30px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.5px;
text-align: left;
color: #000000;
margin-left: 11%;
margin-top: 36px;
}

.topnav a.active4{
width: 2.10%;
height: 12px;
font-family: Dosis;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
}

.topnav a.active5{
width: 2.10%;
height: 12px;
font-family: Dosis;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
}
.topnav a.active6{
width: 3.94%;
height: 12px;
font-family: Dosis;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
margin-right: 8%;
}


.topnav .icon {
display: none;
padding-right: 35px;
}

.header2{
width: 100%;
height: 93px;
background-color: #ffffff;
/* position: fixed; */


}

/* 
************************************************************************************************************ */

.fas{
color: #666666;
padding-left: 1.42%;
}

.intro{
width: 100%;
height: 445px;
background-color: #666666;
}

.dsc{
width: 100%;
height: 548px;
background-color: #ffffff;
}

.dsc button{
  color: pink;
}

.dsc2{
width: 100%;
height: 721px;
background-color: #ffffff;

}

.dsc3{
width: 100%;
height: 721px;
background-color: #ffffff;

}

/* 
************************************************************************************************************ */
.footer{
min-height: 425px;
width: 100%;
background-color: black;
/* position: fixed; */
/* background-attachment: fixed; */
left: 0;
bottom: 0;
}


.footer2{
height: 85px;
width: 100%;
background-color: #d7d7d7;
text-align: center;
padding-top: 40px;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.71;
letter-spacing: normal;
font-family: 'Source Sans Pro', sans-serif;
/* position: fixed; */
left: 0;
bottom: 0;
}


.shop{
width: 100%;
/* height: 445px; */
background-color: #999999;
background-image: url(/img/showcase\ img.jpg); 
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* position: relative; */
}
.shop h1{
/* width: 132px; */
/* height: 35px; */
font-family: 'Source Sans Pro', sans-serif;
font-size: 5vw;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.2;
letter-spacing: 5px;
text-align: center;
color: #ffffff;
/* padding-left: 46.52%;
padding-right: 46.52%; */
padding-top: 180px;
} 

.products{
width: 100%;
height: 1610px;
background-color: #f5f5f5;
}


.intro{
width: 100%;
height: 1010px;
background-color: #ffffff;
}

.fp{
width: 100%;
height: 696px;
background-color: #ffffff;
}



.pic1{
display: inline-flex;
font-family: 'Dosis', sans-serif;
}

.pic1 button{
border-radius: 10px;
margin-left: 30px;
}

.content{
min-height: 1610px;
width: 100%;
margin: 0 auto;
margin-bottom: 100px;
font-family: 'Dosis', sans-serif;
/* position: relative; */
}

.con{
font-family: 'Dosis', sans-serif;
color: #999999;
padding-left: 50px;
padding-top: 50px;


}


.con2{
font-family: 'Dosis', sans-serif;
color: #999999;


}

.nextpage{
bottom: 0px;
}

#copyright {
padding-bottom: 10px;
padding-top: 50px;
text-align: center;
bottom: 0px;
width: 100%;
}

.btn {
border: none;
outline: none;
padding: 10px 16px;
background-color: #f1f1f1;
cursor: pointer;
font-size: 18px;
text-decoration: none;
}

button a{
color: black;
text-decoration: none;

}

button a:hover{
color: lightblue;
}

.btn:hover {
background-color: #666666;
}

.btn.active {
color: black;
}


/* 
************************************************************************************************************ */


/* Create four equal columns that floats next to each other */
.column {
float: left;
width: 35%;
padding: 10px;
height: 425px; 
box-sizing: border-box;
padding-left: 50px;
}
.column h2{
font-size: 30px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.5px;
text-align: left;
font-family: 'Dosis', sans-serif;
padding-top: 40px;
color: #ffff;
}
.column p{

font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
color: #999999;
}
.column2{
float: left;
width: 15%;
padding: 10px;
height: 425px; 
box-sizing: border-box;
padding-left: 50px;
}
.column2 h2{ 
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
color: #ffff;
padding-top: 60px;
}
.column2 p{
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: left;
color: #999999;
font-family: 'Source Sans Pro', sans-serif;
}
.column3{
float: left;
width: 15%;
padding: 10px;
height: 425px; 
box-sizing: border-box;
padding-left: 50px;
}
.column3 h2{ 
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
color: #ffff;
padding-top: 60px;
}
.column3 p{
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: left;
color: #999999;
font-family: 'Source Sans Pro', sans-serif;
}
.column4{
float: left;
width: 35%;
padding: 10px;
height: 425px; 
box-sizing: border-box;
padding-left: 50px;
}
.column4 h2{ 
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;
color: #ffff;
padding-top: 60px;
}
.column4 p{
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: left;
color: #999999;
font-family: 'Source Sans Pro', sans-serif;
}
/* 
Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
} 


/* ************************************************************************************************************ */

div.gallery1 {
/* float: left; */
display: inline-block;
width: 180px;
margin-left: 100px; 

}
div.gallery1{

margin-top: 50px;
margin-bottom: 10px;

}

div.gallery1:hover {
border: 1px solid;
transition-delay: 0.8s;
}
div.gallery1 img{
/* width: 100%;
height: 100%; */
width: 100%;  
height: 100%;  
object-fit: cover;
}

.gallery1 button{
  color: #666666;
}



div.desc {
padding: 15px;
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
}


/* 
************************************************************************************************************ */

/* CART CSS */














/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.gallery1{
margin-left: 100px;
width: 100%;  
height: 100%;  
object-fit: cover;
}
} 

@media screen and (max-width: 500px) {
.gallery1{
margin-left: 100px;
background-color: #ffffff;

}
} 


@media screen and (max-width: 600px) {
.column,.column2,.column3,.column4{
width: 100%;
}
} 


/* NAVBAR MEDIA Queries */
@media screen and (max-width: 1000px) {
.topnav a:not(.active3) {display: none;}
.topnav a.icon .topnav i{
float: right;
position: relative;
margin: auto;
display: block;
transition: 0.8s;
padding-top: -15px;
}
.topnav .active3{
/* float: left; */
padding-bottom:15px;
/* display: inline-flex; */
padding-left: 10px;
text-align: left;
}



}


@media screen and (max-width: 1000px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a{
float: none;
display: block;
text-align: left;
padding-top: 15px;
padding-bottom: 5px;
padding-left: 20px;
}
.topnav.responsive .active3{
display: none;
}
}


/* NAVBAR MEDIA Queries */
@media screen and (max-width: 1100px) {
  .grid div:not(.div2) {display: none;}
  .grid  a.icon {
  float: right;
  /* position: relative; */
  /* margin: auto; */
  display: block;
  padding-top: 25px;
  color: white;
  margin-right: 35px;
  }
  .grid .div2{
  float: left;
  padding-bottom:15px;
  display: inline-flex;
  padding-left: 20px;
  width: 80%;
  }
  }
  
  @media screen and (max-width: 1100px) {
  .grid.responsive {position: relative;}
  .grid.responsive .icon {
  position: absolute;
  right: 0;
  top: 0; 
  color: white;
  margin-right: 35px;
  
  }
  
  .grid.responsive div:not(.div2){
  /* float: none; */
  display: block;
  text-align: left; 
  /* padding-top: 15px;
  padding-bottom: 5px; */
  padding-left: 20px;
  /* margin-right: 50px; */
  }
  }



        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 80%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }
        /* 
        CART CSSS */
        
        @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
        @import url("https://fonts.googleapis.com/css?family=Metal+Mania");
        
        @font-face {
            font-family: "Booter - Zero Zero";
            src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
                 url("Fonts/Booter - Zero Zero.woff2") format("woff2");
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            box-sizing: border-box;
            font-family: Raleway;
            color: #777;
        }
        
        html, body {
            margin: 0;
            padding: 0;
            min-height: 100%;
        }
        
        .nav ul {
            margin: 0;
        }
        
        .nav li {
            display: inline;
        }
        
        .nav a {
            display: inline-block;
            padding: .5em;
            color: white;
            text-decoration: none;
        }
        
        .main-nav {
            text-align: center;
            font-size: 1.1em;
            font-weight: lighter;
            border-bottom: 1px solid rgba(255, 255, 255, .3)
        }
        
        .main-nav li {
            padding: 0 5%;
        }
        
        .nav a:hover {
            background-color: rgba(255, 255, 255, .3)
        }
        
        .main-header {
            background-color: rgba(0, 0, 0, .6);
            background-image: url("Images/Header Background.jpg");
            background-blend-mode: multiply;
            background-size: cover;
            padding-bottom: 30px;
        }
        
        .band-name {
            text-align: center;
            margin: 0;
            font-size: 4em;
            font-family: "Booter - Zero Zero";
            font-weight: normal;
            color: white;
        }
        
        .band-name-large {
            font-size: 8em;
        }
        
        .content-section {
            margin: 1em;
        }
        
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 1.5em;
        }
        .section-header {
            font-family: "Metal Mania";
            font-weight: normal;
            color: #333;
            text-align: center;
            font-size: 2.5em;
        }
        
        .about-band-image {
            float: left;
            height: 200px;
            width: 200px;
            margin: 15px;
            border-radius: 50%;
        }
        
        .main-footer {
            background-color: #56CCF2;
            color: white;
            padding: .25em 0;
        }
        
        .main-footer-container {
            display: flex;
            align-items: center;
        }
        
        .main-footer-container ul {
            flex-grow: 1;
            text-align: end;
        }
        
        .footer-nav li {
            padding: 0 .5em;
        }
        
        .footer-nav img {
            width: 30px;
            height: 30px;
        }
        
        .btn {
            text-align: center;
            vertical-align: middle;
            /* padding: .67em .67em; */
            cursor: pointer;
        }
        
        .btn-header {
            margin: .5em 15% 2em 15%;
            color: white;
            border: 2px solid #2D9CDB;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 0;
            font-size: 1.5em;
            font-weight: lighter;
            padding-left: 2em;
            padding-right: 2em;
        }
        
        .btn-header:hover {
            background-color: rgba(255, 255, 255, .3);
        }
        
        .btn-play {
            display: block;
            margin: 0 auto;
            color: #2D9CDB; 
             font-size: 4em;
            border-radius: 50%; 
            width: 100px;
            height: 100px;
            padding: 0;
            text-align: center;
        }
        
        .btn-primary {
            color: white;
            background-color: #56CCF2;
        }
        
        .btn-primary:hover {
            background-color: gold;
        }
        
        .tour-row {
            border-bottom: 1px solid black;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }
        
        .tour-row:last-child {
            border: none;
        }
        
        .tour-item {
            display: inline-block;
            padding-right: .5em;
        }
        
        .tour-date {
            color: #555;
            width: 11%;
            font-weight: bold;
        }
        
        .tour-city {
            width: 24%;
        }
        
        .tour-arena {
            width: 42%;
        }
        
        .tour-btn {
            max-width: 19%;
        }
        
        .shop-item {
            margin: 30px;
        }
        
        .shop-item-title {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            color: #333;
            margin-bottom: 15px;
        }
        
        .shop-item-image {
            height: 250px;
        }
        
        .shop-item-details {
            display: flex;
            align-items: center;
            padding: 5px;
        }
        
        .shop-item-price {
            flex-grow: 1;
            color: #333;
        }
        
        .shop-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .cart-header {
            font-weight: bold;
            font-size: 1.25em;
            color: #333;
        }
        
        .cart-column {
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            margin-right: 1.5em;
            padding-bottom: 10px;
            margin-top: 10px;
        }
        
        .cart-row {
            display: flex;
        }
        
        .cart-item {
            width: 45%;
        }
        
        .cart-price {
            width: 20%;
            font-size: 1.2em;
            color: #333;
        }
        
        .cart-quantity {
            width: 35%;
        }
        
        .cart-item-title {
            color: #333;
            margin-left: .5em;
            font-size: 1.2em;
        }
        
        .cart-item-image {
            width: 75px;
            height: auto;
            border-radius: 10px;
        }
        
        .btn-danger {
            color: white;
            background-color: #EB5757;
            border: none;
            border-radius: .3em;
            font-weight: bold;
        }
        
        .btn-danger:hover {
            background-color: #CC4C4C;
        }
        
        .cart-quantity-input {
            height: 34px;
            width: 50px;
            border-radius: 5px;
            border: 1px solid #56CCF2;
            background-color: #eee;
            color: #333;
            padding: 0;
            text-align: center;
            font-size: 1.2em;
            margin-right: 25px;
        }
        
        .cart-row:last-child {
            border-bottom: 1px solid black;
        }
        
        .cart-row:last-child .cart-column {
            border: none;
        }
        
        .cart-total {
            text-align: end;
            margin-top: 10px;
            margin-right: 10px;
        }
        
        .cart-total-title {
            font-weight: bold;
            font-size: 1.5em;
            color: black;
            margin-right: 20px;
        }
        
        .cart-total-price {
            color: #333;
            font-size: 1.1em;
        }
        
        .btn-purchase {
            display: block;
            margin: 40px auto 80px auto;
            font-size: 1.75em;
        }
        
        .cartbtn{
            color: aqua;
        }
     
       
  

