    body{
      background-color: #ffff;
      margin: 0;
      height: 4500px;
    }

    
    
    
    .header{
        width: 100%;
        height: 53px;
        background-color: #2d2827;
        color: white;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 58px;
      }
      
      div.grid      { width: 100%;  }
      div.grid div  { float: left; height: 53px; }
      .div1   { 
          width: 40.79%;
          
          height: 9px;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
          padding-top: 15px;
        

  
         }
       .div2   { 
        width: 18.36%;
        height: 9px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 2.4px;
        text-align: left;
        color: #999999;
        padding-bottom: 22px;
    }

      .div3{
        width: 15.78%;
        height: 15px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        padding-top: 15px;
      }
      .div4{
        width: 5.84%;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        padding-top: 15px;
        display:inline; 
        padding-top: 10px;
  
      }
      .div4 i{
        padding-left: 10px;

      }

      .div5{
        /* width: 365px;  */
        width: 19.21%;
        height: 15px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        padding-top: 15px;
      }
         
      div.clear     { clear: both; }

      /*Navbar*/

.topnav {
  overflow: hidden;
  background-attachment: fixed;
 
}

.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-family: 'Dosis', sans-serif;
  
}
/* 
.topnav a:hover {

} */

.topnav a.active {
  width: 36px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
  padding-right:54px;
}

.topnav a.active1{
  width: 34px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
  padding-right:55px;
} 

.topnav a.active2{
  width: 44px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
  padding-right:50px;

}

.topnav a.active3{
  width: 117px;
  height: 21px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fffefe;
  padding-right:48px;
}

.topnav a.active4{
  width: 32px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
  padding-right:53px;
}

.topnav a.active5{
  width: 66px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color:#ffffff;
  padding-right:49px;
}
.topnav a.active6{
  width: 77px;
  height: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
}


.topnav .icon {
  display: none;
}
      


/* Showcase */

#showcase{
  min-height:945px;
  text-align:center;
  color:#182628;
  
}

#showcase h2{
  margin-top: 15.78%;
  font-size:50px;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  margin-bottom:40px;
  text-align: center;
  letter-spacing: normal;
  color: #471818;
}
#more {display: none;}

.img{
  height: 945px;
  width: 100%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}


#showcase p{
  margin-top:40px;
  /* margin-bottom:112px; */
  margin-bottom: 5.10%;
  font-size: 15px;
  height: 39px;
  width: 48.63%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  text-align: center;
  letter-spacing: normal;
  color: #e6e6e6;
  padding-left: 25.63%;
  padding-right: 25.73%

}

.show{
  width:80%;
  margin:auto;
  overflow:hidden;
  border: black;
}

.btn1{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #a88d7b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.fas{
  width: 29px;
  height: 16px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 15.36%;
}

.art1{
  height: 704px;
}
        
 

    
      
    
      
     