    .footer{
        width: 1900px;
        height: 53px;
        background-color: #2d2827;
        color: white;
      }
      
      div.grid      { width: 1900px; }
      div.grid div  { float: left; height: 53px; }
      div.col100    { 
          width: 775px;
          /* width: 13px; */
          height: 9px;
          font-family: SourceSansPro;
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
          padding-top: 15px;
        

  
         }
      div.col200    { 
        width: 349px; 
        margin: 0 auto;
        /* height: 9px; */
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 2.4px;
        text-align: left;
        color: #999999;
        padding-top: 15px;
    }

      div.col300    { 
          width: 776px; 
          /* width: 111px; */
          height: 15px;
          font-family: FontAwesome;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
          padding-top: 15px;
          
        }
    
      div.clear     { clear: both; }
    
      
     